body {
    background-color: beige;
    color:black;
    max-width: 900px;
    margin: auto;
}

header {
    margin: 20px 0;
    font-size: 22px;
    text-align: center;
}

section.introheader {
    text-align: center;
    padding: 15px
}

img + p {
    font-size: 32px;
}

a {
    color:cornflowerblue;
}

h2.subheading {
    color:darkmagenta;
}

h1, h2 {
    text-align: left;
}

aside nav a {
    display: block;
    text-align: center;
}

footer {
    margin: 20px 0;
    text-align: center;
}